<mat-card>
  <mat-list>
    <mat-list-item *ngFor="let notification of notifications">
      <h4 mat-line>{{notification.name}}</h4>
      <p mat-line> {{notification.content}} {{this.hello}}</p>
      <div matSuffix class="button" *ngIf="notification.type == 'confirm'">
        <button class="buttonsito" *ngFor="let button of notification.options" mat-raised-button [color]="button.color" (click)="hello = !hello">{{button.content}}</button>
      </div>
      <div matSuffix class="select" *ngIf="notification.type == 'option'">
        <mat-select class="options" placeholder="Opciones">
          <mat-option>--</mat-option>
          <mat-option *ngFor="let option of notification.options" [value]="option">
            {{option}}
          </mat-option>
        </mat-select>
      </div>
      <mat-icon matSuffix>close</mat-icon>
    </mat-list-item>
  </mat-list>
</mat-card>