.mat-card {
    width: 100%;
    cursor: pointer;
}

.not {
    width: 0;
    height: 0;
    margin-left: 77%;
    border-top: 0 solid transparent;
    border-top-width: 5px;
    border-left: 0 solid transparent; 
    border-left-width: 5px;
    border-bottom: 0 solid white;
    border-bottom-width: 5px;
    border-right: 0 solid transparent;
    border-right-width: 5px;
}

.special {
    border-top: 50px;
}

.button, .select {
    
    width: 80% !important;
}

.select {
    margin-right: 2%;
}

.input, form, .mat-form-field, input {
    width: 90% !important;
    margin-right: 2%;
}

.options {
    width: 97%;
}

.buttonsito {
    margin-right: 3%;
    width: 44%;
}

.mat-button .mat-small {
    min-width: 1%;
}

.item:hover {
    background-color: lightgray;
}