.mat-card {
    margin-top: 100px;
    width: 50%;
    cursor: pointer;
}

.special {
    border-top: 50px;
}

.button, .select {
    
    width: 80% !important;
}

.select {
    margin-right: 2%;
}

.input, form, .mat-form-field, input {
    width: 90% !important;
    margin-right: 2%;
}

.options {
    width: 97%;
}

.buttonsito {
    margin-right: 3%;
    width: 44%;
}

.mat-button .mat-small {
    min-width: 1%;
}

.item:hover {
    background-color: lightgray;
}