.container {
    max-width: 500px;
    margin: 25px auto;
}

.form > *:not(.form), .input {
    width: 100%;
}

.buttons {
    margin: auto 0 0 30%;
}

.request {
    padding-bottom: 35px;
}

.full, .buttons-full {
    width: 98.5%;
    margin-bottom: 1%;
}

.create > *:not(.full) {
    width: 49%;
}

.buttons-full {
    margin-top: 20px;
}

.pointer {
    cursor: pointer;
}

.buttons-full > * {
    width: 48%;
    margin-left: 1%;
}

.first-button {
    padding-left: 5%;
}