<!-- Header -->
    <mat-toolbar class="nav-bar" color="primary" (click)="closeNotification()">
        <button
            *ngIf="drawer.opened"
            type="button"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon>close</mat-icon>
        </button>
        <button
            *ngIf="!drawer.opened"
            type="button"
            mat-icon-button
            (click)="drawer.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <h1 class="tittle">CESET</h1>
        <button class="notification" (click)="toggleNotification()" mat-icon-button><mat-icon>notifications</mat-icon></button>
        <button class="logout" mat-raised-button>Cerrar Sesión</button>
    </mat-toolbar>
    <div class="notification-card" *ngIf="openedNotification">
        <app-notification-card></app-notification-card>
    </div>
<!---->
<!--SideNav-->
    <mat-sidenav-container (click)="closeNotification()" fullscreen class="container">
        <mat-sidenav
            #drawer
            class="sidenav"
            [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches"
            fixedTopGap="56">
            <mat-toolbar class="toolbar" color="primary">Menu</mat-toolbar>
            <mat-nav-list>
                <a mat-list-item [ngClass]="{'selected' : this.router.url === '/inicio/actividades'}" [routerLink]="['actividades']" (click)="drawer.toggle()">Lista de Actividades</a>
                <a mat-list-item [ngClass]="{'selected' : this.router.url === '/inicio/cohortes'}" [routerLink]="['cohortes']" (click)="drawer.toggle()">Lista de Cohortes</a>
                <a mat-list-item [ngClass]="{'selected' : this.router.url === '/inicio/roles'}" [routerLink]="['roles']" (click)="drawer.toggle()">Roles</a>
            </mat-nav-list>
            <button mat-icon-button style="bottom: 15px; position: absolute; right: 15px;"><mat-icon>settings</mat-icon></button>
        </mat-sidenav>
        <mat-sidenav-content (click)="toggleDrawer(drawer)" id="content">
            <!-- Body -->
                <router-outlet></router-outlet>
                <app-footer (click)="getActivity()" [ngClass]="{ 'footer': !scrollShowed }"></app-footer>
            <!---->
        </mat-sidenav-content>
    </mat-sidenav-container>
<!---->
