.container {
    margin-top: 70px;
}

.selected {
    background: #F8F8F8;
}

@media(min-height: 800px) {
    .footer {
        width: 100%;
        bottom: 0;
        position: absolute;
    }
}

.notification {
    right: 140px;
    margin-right: 2%;
    position: absolute;
    font-weight: bold;
}

.nav-bar {
    height: 70px;
}

.tittle {
    margin-left: 5%;
}

.toolbar {
    max-height: 40px;
}

.notification-card {
    position: absolute;
    top: 50px;
    right: 50px;
    margin-right: 2%;
    width: 500px;
    z-index: 100;
}

.logout {
    color: black;
    position: absolute;
    right: 2%;
}