.button {
    margin-left: 20%;
    color: white;
}

@media(max-width: 550px) {
    .button {
        margin-left: 20%
    }
}

.cell {
    padding-top: 5px;
    vertical-align: middle;
    height: 50px;
}

.item:hover {
    cursor: pointer;
    background: #F5F5F5;
}

.container {
  width: 500px;
  margin: 25px auto;
}

.select > * {
  width: 100%;
}

.table {
  padding: 10px 20px 80px 20px;
}

.add-button {
  right: 0;
  margin: 10px 50px 0 0;
  position: absolute;
}
