<mat-card class="container">
  <div class="select">
    <mat-form-field>
      <mat-select placeholder="Favorite food" [formControl]="itemControl" [selectionChange]="showDataForm()" required>
        <mat-option *ngFor="let item of budgetData" [value]="item.id">
          {{ item.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-card class="table">
    <mat-table #table [dataSource]="budgetItemDataSource">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Descripción del Gasto </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.name}} </mat-cell>
      </ng-container>

      <!-- Value Column -->
      <ng-container matColumnDef="quant">
        <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.quantity}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef> Valor Presupuestado </mat-header-cell>
        <mat-cell *matCellDef="let item"> {{item.value}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="cost">
        <mat-header-cell *matHeaderCellDef> Costo Real </mat-header-cell>
        <mat-cell class="cell" *matCellDef="let item"> {{item.realCost}} <button class="button" mat-mini-fab color="warn"><mat-icon>delete</mat-icon></button> </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row (click)="openDialog('edit', row)" (mouseenter)="this.mouseHovering = true" (mouseleave)="this.mouseHovering = false" class="item" *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <button mat-fab color="primary" class="add-button" (click)="openDialog('create')"><mat-icon>add</mat-icon></button>
  </mat-card>
</mat-card>
