<form [formGroup]="this.form" class="normal-form">
    <div class="controls-form">
      <input type="hidden" formControlName="$key">
      <mat-form-field>
        <mat-select placeholder="Descripcion del Gasto" formControlName="description" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let description of this.type.description" [value]="description">
            {{description}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['description'].hasError('required')">Holiwis</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="quantity" placeholder="Cantidad" type="number" required>
        <mat-error *ngIf="form.controls['quantity'].hasError('required')">Holiwis</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Unidad de Medida" formControlName="unity" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let unity of this.type.unity" [value]="unity">
            {{unity}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="form.controls['unity'].hasError('required')">Holiwis</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="time" placeholder="Tiempo" required>
        <mat-error *ngIf="form.controls['time'].hasError('required')"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="dedication" class="right-align" placeholder="Dedicación (%)" type="number" required>
        <span matSuffix>%</span>
        <mat-error *ngIf="form.controls['dedication'].hasError('required')"></mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput formControlName="unityValue" placeholder="Valor Unitario" type="number" required>
        <mat-error *ngIf="form.controls['unityValue'].hasError('required')"></mat-error>
      </mat-form-field>
      <br><br>
      <button mat-raised-button color="primary" type="submit">Registrarse</button>
    </div>
  </form>