<form [formGroup]="this.form" class="normal-form">
  <div class="controls-form">
    <input type="hidden" formControlName="$key">
    <mat-form-field>
      <input matInput formControlName="name" placeholder="Nombre" required>
      <mat-error *ngIf="form.controls['name'].hasError('required')"></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="coordinator" placeholder="Responsable" required>
      <mat-error *ngIf="form.controls['coordinator'].hasError('required')"></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="id" min="0" placeholder="Documento de Identidad" type="number" required>
      <mat-error *ngIf="form.controls['id'].hasError('required')"></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput id="email" formControlName="contractType" placeholder="Tipo de Contratación" required>
      <mat-error *ngIf="form.controls['contractType'].hasError('required')"></mat-error>
    </mat-form-field>
    <mat-form-field class="hours">
      <input matInput formControlName="hours" min="0" placeholder="Horas" type="number" required>
      <mat-error *ngIf="form.controls['hours'].hasError('required')"></mat-error>
    </mat-form-field>
    <mat-form-field class="date">
      <input matInput [matDatepicker]="start" placeholder="Fecha de Inicio">
      <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
      <mat-datepicker #start></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="date">
      <input matInput [matDatepicker]="finish" placeholder="Fecha de Finalización">
      <mat-datepicker-toggle matSuffix [for]="finish"></mat-datepicker-toggle>
      <mat-datepicker #finish></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="contact" min="0" placeholder="Numero de Contacto" type="number" required>
      <mat-error *ngIf="form.controls['contact'].hasError('required')"></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput id="email" formControlName="email" placeholder="Correo Electrónico" required>
      <mat-error *ngIf="form.controls['email'].hasError('required') || form.controls['email'].hasError('email')"></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput id="email" formControlName="dependency" placeholder="Dependencia" required>
      <mat-error *ngIf="form.controls['dependency'].hasError('required')"></mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput id="email" formControlName="link" placeholder="Vinculo con la universidad" required>
      <mat-error *ngIf="form.controls['link'].hasError('required')"></mat-error>
    </mat-form-field>
    <br><br>
    <div class="buttons">
      <button mat-raised-button color="warn">Eliminar</button>
      <button mat-raised-button color="primary">Guardar</button>
    </div>
  </div>
</form>