<form [formGroup]="this.form" class="normal-form">
  <div class="controls-form">
    <input type="hidden" formControlName="$key">
    <mat-form-field>
      <input matInput formControlName="fullName" placeholder="Nombre Completo">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="email" placeholder="Correo Electronico">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="pass" placeholder="Contraseña" (blur)="blur = true" [type]="hide ? 'password' : 'text'">
      <mat-icon [color]="iconColor()" matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-error *ngIf="form.controls['pass'].hasError('required')">{{getErrorMessage()}}</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="role" placeholder="Rol">
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Registrarse</button>
  </div>
</form>

<h1>{{getErrorMessage()}}</h1>