.controls-form > * {
    width: 100%;
    margin-bottom: 10px;
}

.pointer {
    cursor: pointer;
}

.horizontal-center {
    margin: 15px auto;
}

.card {
    margin: 20px 25%;
    min-width: 250px;
}

@media(max-width: 750px) {
    .card {
        margin: 20px 5%;
    }

    .horizontal-center {
        margin: 15px auto;
    }
}

@media(max-width: 400px) {
    .horizontal-center {
        margin: 15px -25px;
    }
}

@media (min-width: 750px) and (min-height: 950px) {
    .center {
        position: absolute;
        margin-top: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

@media(min-width: 1100px) {
    .card {
        margin: 20px 35%;
    }
}