.search > *:not(.date) {
  width: 100%;
}

.container {
  width: 600px;
  margin: 15px auto;
}

.date {
  width: 50%;
  margin: -0.3%;
  padding: 0;
}

.table {
  margin: 20px 0;
  padding: 10px 25px 70px 25px;
}

.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
    min-width: 300px;
}

.mat-column-id {
  max-width: 60px;
  text-align: center;
}

.button {
    right: 25px;
    margin-top: 13px;
    position: absolute;
}

.paginator {
  margin-top: 5px;
  left: 0;
  position: absolute;
  margin-left: 25px;
}

/**
.table > *:hover {
    background: #F0F0F0;
    cursor: pointer;
}**/

.item:hover {
    background: #F5F5F5;
    cursor: pointer;
}
