<mat-toolbar color="primary">
    <button
        *ngIf="drawer.opened"
        type="button"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>close</mat-icon>
    </button>
    <button
        *ngIf="!drawer.opened"
        type="button"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <h1>CESET</h1>
</mat-toolbar>

<mat-sidenav-container fullscreen [style.marginTop.px]="mobileQuery.matches ? 56 : 56">
    <mat-sidenav
        #drawer
        class="sidenav"
        [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches"
        fixedTopGap="56">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list style="margin-top: 50px">
            <a mat-list-item routerLink="/inicio" (click)="show(0)">Lista de Actividades</a>
            <a mat-list-item (click)="show(1)">Holi 1</a>
            <a mat-list-item (click)="show(2)">Holi 3/2</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fullscreen>
        <app-activity-list *ngIf="!hideActivityList"></app-activity-list>
        <router-outlet></router-outlet>
        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>