input[type="file"] {
  display: none;
}

.import-button {
  max-width: 99.7%;
  margin-left: 0.5;
}

.controls-form > *, form > *, .button {
    width: 100%;
    margin-bottom: 10px;
}

.pointer:hover {
    cursor: pointer;
    color: gray !important;
}

.disabled {
    color: lightgray;
}

.container {
  width: 500px;
  margin: 25px auto;
}

.buttons > * {
  width: 49%;
  margin-left: 0.5%
}